* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    height: 50px;
    background-size: cover;
    background-image: url("./amazon_logo.png");
    width: 100%;
}

.border {
    border: 1.3px solid transparent;
}

.border:hover {
    border: 1.3px solid white;
}

/* box 2 */

.add-first {
    color: #cccccc;
    font-size: 0.89rem;
    margin-left: 15px;
}

.add-sec {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

.add-icon i {
    color: rgb(255, 196, 0)
}

/*box 3*/

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(221, 171, 6);
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-select {
    background-color: #d3e79c;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
    background: #d3e79c;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: rgb(201, 167, 14);
    border-radius: 4px;
    color: #0f1111;
}

.nav-search:hover {
    border: 2px solid rgb(238, 204, 10);
}

/*box 4 and 5 same */

span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

/*Box 6*/

.nav-cart i {
    font-size: 27px;
    color: rgb(235, 200, 6);
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

/*Panel */

.panel {
    height: 39px;
    background-color: #222f3d;
    display: flex;
    color: #cccccc;
    align-items: center;
    justify-content: space-evenly;

}

.panel-ops p {
    display: inline;
    margin-left: 15px;
}

.panel-ops {
    width: 70%;
    font-size: 0.76rem;
    font-weight: 700;
}

.panel-ops p:hover {
    color: rgb(255, 217, 0);
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
    color: rgb(255, 196, 0);
}

.panel-deals:hover {
    color: rgb(44, 255, 2);
}

.panel i {
    color: rgb(255, 217, 0);
}

/*Hero Section*/

.hero-section {
    height: 350px;
    background-image: url("./hero_image.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    position: relative;
    bottom: 15px;
    width: 80%;
    margin-bottom: 25px;
}

.hero-message a {
    color: #41a100;
}

/*shop section */

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7c9;
}

.box {
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    border-radius: 20px;
    border: 2px solid rgb(163, 161, 161);
}

.box-image {
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 20px;
    border: 1px solid rgb(170, 164, 164);
}

.content-box {
    margin-left: 1rem;
    margin-right: 1rem;
}

.content-box h2 {
    color: #4b5819;
}

.content-box p {
    color: #0a9ad3;
}

.content-box p:hover {
    color: red;
}

/*Footer*/

.foot-panel1 {
    width: 100%;
    height: 50px;
    background-color: #1a1f1f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin-top: 20px;
    font-size: 0.85rem;
}

.foot-panel2 {
    width: 100%;
    height: 13rem;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

ul a {
    text-decoration: none;
    color: rgb(151, 145, 145);
    font-size: 0.85rem;
}

.foot-panel3 {
    background-color: #0f1111;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("./amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;

}

.foot-panel4 {
    background-color: #0f0d0d;
    height: 80px;
    color: white;
    font-size: 0.7rem;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.pages a {
    color: #ebe4e4;
    text-decoration: none;

}

.pages {
    padding-top: 25px;
}

.copyright {
    padding-top: 5px;
}

@media (max-width: 768px) {

    /* Navbar */
    .navbar {
        height: auto;
        flex-wrap: wrap;
        padding: 5px;
        gap: 5px;
    }

    .nav-logo {
        width: 70px;
        height: 40px;
    }

    .logo {
        height: 40px;
    }

    .add-first {
        font-size: 0.6rem;
        margin-left: 5px;
    }

    .add-sec {
        font-size: 0.7rem;
    }

    /* Search */
    .nav-search {
        width: 95%;
        height: 35px;
        margin-top: 5px;
    }

    .search-select {
        width: 40px;
        font-size: 0.6rem;
    }

    .search-input {
        font-size: 0.7rem;
    }

    .search-icon {
        width: 35px;
        font-size: 1rem;
    }

    /* Panel */
    .panel {
        flex-wrap: wrap;
        height: auto;
        padding: 5px;
        gap: 5px;
        text-align: center;
    }

    .panel-ops {
        width: 100%;
        font-size: 0.65rem;
    }

    .panel-deals {
        font-size: 0.7rem;
    }

    /* Hero Section */
    .hero-section {
        height: 200px;
        background-position: center;
    }

    .hero-message {
        width: 95%;
        font-size: 0.7rem;
        height: 35px;
    }

    /* Shop Section */
    .shop-section {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 95%;
        height: auto;
    }

    .box-image {
        height: 200px;
    }

    /* Footer */
    .foot-panel2 {
        flex-direction: column;
        height: auto;
        padding: 15px 0;
        gap: 15px;
    }

    ul {
        gap: 5px;
    }

    .foot-panel4 {
        height: auto;
        padding-bottom: 10px;
    }
}